.wrapper-home{
    border-radius: 10px;
}

.left{
    background-color: #fafafa;
    color: rgb(40, 39, 46);
    padding: 15%;
    height: 100vh;
}

.right{
    height: 100vh;
    background-color: #EFF3FE;
}